/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
}

/* HEADINGS */

.home-heading {
    background-image: url(/Images/white.png);
    background-size: cover;
}
.product-heading {
    background-image: url(/Images/white.png);
    background-size: cover;
}
.bulk-heading {
    background-image: url(/Images/white.png);
    background-size: cover;
}
/* CARDS */

.card {
    display: block;
    width: 25rem;
    height: 40rem;
    margin-top: 5rem;
    transition-duration: 200ms;
    text-align: center;

}
img {
    border-radius: 5px;
    margin: auto;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* .card:hover {
    transform: scale(1.1);
} */

/* FLIPCARDS */

.flip-card {
    display: block;
    width: 40rem;
    height: 45rem;
    margin-top: 5rem;
    text-align: center;
    transition-duration: 200ms;
    justify-content: space-evenly;
}
.flip cards {
    display: flex;
    flex-wrap: wrap;
}
/* .flip-card:hover {
    transform: scale(1.1);
} */


/* BUTTONS */
.btn-item {
    width: 10rem;
    height: 5rem;
    margin: auto;
    margin-top: 2rem;
}

/* FOOTER */
.social-img {
    padding-left: 50px;
}
.tag {
    text-decoration: none;
}
.footer {
    display: flex;
    justify-content: space-evenly;
}
.btn-offcanvas {
    background-color: transparent;
}
/* MEDIA QUERIES */

@media screen and (max-width: 400px) { 
    .card {
        width: auto;
        height: max-content;
    }
    img {
        width: 15rem;
        height: 15rem;
        margin: auto;
    }
    .flip-card {
        width: auto;
        height: auto;
    }
    .footer {
        display: block;
    }
    .social-img {
        width: 5rem;
        height: 5rem;
    }
}